
<div class="container">
  
  <div class="row align-items-center h-100" style="margin-top: 25px;">
    <div class="col-10 mx-auto">
      <div class="jumbotron shadow-lg" style="padding-top: 16px; padding-bottom: 16px;">
        <div class="row " style="margin-bottom: 8px;">
          <div class="col-md-6 custom-citiesOptions">
            <p-dropdown [options]="citiesOptions" [appendTo]="'body'" [(ngModel)]="city" (onChange)="onChangeCity($event)" [style]="{'width':'50%'}"></p-dropdown>
          </div>
          <div class="col-md-6 custom-unitOfTemperature">
            <p-selectButton [options]="unitOfTemperature" [(ngModel)]="unitOfTemperatureSelect" optionLabel="name" optionValue="value" (onChange)="onChangeUnitOfTemperature($event)"></p-selectButton>
          </div>
        </div>
        <div *ngIf="temperatureNow" class="card shadow-sm text-center" style="padding: 5px; margin-bottom: 7px;">
          <h4 *ngIf="unitOfTemperatureSelect === UnitOfTemperatureEnum.CELSIUS">{{temperatureNow.tempCelsius}}ºC</h4> 
          <h4 *ngIf="unitOfTemperatureSelect === UnitOfTemperatureEnum.FAHRENHEIT">{{temperatureNow.tempFahrenheit}}ºF</h4> 
          <h6>{{temperatureNow.localDate | date:'medium'}}</h6>
        </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <h6>Number Of Days
              <p-dropdown [options]="numberOfDaysOptions" [(ngModel)]="numberOfDaysSelect" (onChange)="onChangeNumberOfDays($event)"></p-dropdown>
              </h6>
            </div>
          </div>
          <div style="display: block">
            <div id="wrapper" *ngIf="chartReady">
              <div id="chart-line">
                <apx-chart
                  [series]="chartBig.series"
                  [chart]="chartBig.chart"
                  [xaxis]="chartBig.xaxis"
                  [dataLabels]="chartBig.dataLabels"
                  [colors]="chartBig.colors"
                  [fill]="chartBig.fill"
                  [markers]="chartBig.markers"
                  [stroke]="chartBig.stroke"
                ></apx-chart>
              </div>
              <div id="chart-line2">
                <apx-chart
                  [series]="chartSmall.series"
                  [chart]="chartSmall.chart"
                  [xaxis]="chartSmall.xaxis"
                  [colors]="chartSmall.colors"
                  [fill]="chartSmall.fill"
                  [yaxis]="chartSmall.yaxis"
                  [legend]="chartSmall.legend"
                ></apx-chart>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>